.Post {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid rgb(187, 164, 164);
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: rgb(126, 101, 101);
}